@import '~style/variables';

.categoryWrapper {
  border-top: 8px solid $color-white;
}

.category {
  @include container;

  display: flex;
  padding-top: 32px;
  padding-bottom: 38px;

  // The first category has a smaller padding than the rest
  .category__context & {
    padding-top: 8px;
    padding-bottom: 58px;
  }
}

.categoryIcon {
  flex: none;
  width: 115px;
  padding-top: 32px;
  margin-right: 40px;
}

.categoryTextWrapper {
  margin-right: 32px;
}

.categoryTitle {
  font-size: 44px;
  line-height: 1;
  margin-bottom: 16px;

  .category__context & {
    font-size: 22px;
    font-weight: 700;
  }
}

.categoryDescription {
  margin-bottom: 16px;
  font-size: 22px;
  line-height: 1.5;
}

.subCategoryWrapperText {
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 16px;
}

.subCategoryLink {
  margin-right: 16px;
  padding: 0 40px;
  font-size: 14px;
  background: $color-white;

  &:hover {
    @include shadow(2);
  }
}

.indicatorCardAndLink {
  flex: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 256px;
  margin-left: auto;
}

.indicatorCard {
  margin-top: 48px;

  .category__context & {
    margin-top: 68px;
  }
}

.categoryLinkWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 3px;
  border-radius: 10px;
}

.categoryLinkText {
  flex: auto;
  text-align: center;
  font-size: 14px;
}

.categoryLinkIcon {
  flex: none;
}
