@import '~style/variables';

.container {
  @include container;

  display: flex;
  flex-direction: column;
  padding-top: 32px;
  width: 100%;
  margin: 0 0 16px;
}

.heading {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.iconWrapper {
  @include iconWrapper;
}
