@import '~style/variables';

.container {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  width: 100%;
  margin: 0 0 16px;
  background: $color-white;
  padding-left: 16px;
  overflow: hidden;

  @include for-tablet-landscape-up {
    padding-left: 32px;
  }
}

.heading {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 16px;
}

.chartGrid {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

.chartWrapper {
  flex-basis: 49%;

  @include for-phone-only {
    flex-basis: 100%;
  }
}

.heroChartWrapper {
  flex-basis: 100%;
}

.iconWrapper {
  @include iconWrapper;
}
