@import '~style/variables';

.wrapper {
  padding: 16px;
}

.titleWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  line-height: 1;
}

.indicatorTypeMark {
  flex-basis: 100%;
}

.stacked {
  .titleWrapper {
    margin-bottom: 0;
  }
}

.title {
  font-size: 22px;
  font-weight: 400;
  margin: 0 7px 7px 0;

  @include for-tablet-landscape-up {
    font-size: 24px;
  }
}

.metaWrapper {
  padding-top: 4px;
  font-size: 0.8em;

  span {
    margin-left: 10px;
  }
}

.legendWrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-end;

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

.descriptionLabel {
  display: none;

  @include for-phone-only {
    display: block;

    @include type-detail-text;
  }
}

.chartWrapper {
  @include for-tablet-landscape-up {
    margin-top: 24px;
  }
}

// .title,
// .descriptionLabel {
//   margin-left: 120px;

//   @include for-phone-only {
//     margin-left: 15px;
//   }
// }
